.body{
    background: url("http://localhost:4200/viewsfiles/images/nubes.jpg");
}
.cabecera{
    background-color: lightblue;
    height: 150px;
}
.pestanasNavegacion{
    background-color: burlywood;
    height: 50px; 
}
.fechaPost{
    background-color:white;
    height: 50px; 
}
.post{
    background-color:wheat;
    height: 800px;  
    border-right: white 5px solid;
    border-bottom: white 5px solid;
    }
.barraLateral{
    background-color: lightblue;
    border-bottom: white 5px solid;
}
.pie{
    background-color: blue;
    border-right: white 5px solid;
    height: 100px;
}
.titulo{
    
    text-align: center;
}